@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>*@
@*<h3>@ViewData["Message"]</h3>*@
<h1>Todo sobre nuestro producto</h1>

<p>Este conversor te falicitará el cambio de divisas entre múltiples monedas, tambien podrás modificar la base de datos para hacer que al resto no le funcione nada.</p>
