@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>Datos de Contacto</h3>

<address>
    Calculin conversor<br />
    Codigo Postal, ES 28035<br />
    <abbr title="Telefono">P:</abbr>
    902.58.26.39
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Soporte@Calculin.es">Soporte@Calculin.es</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Calculin.es">Marketing@Calculin.es</a>
</address>
