@{
    ViewData["Title"] = "Home Page";
}
<div class="row jumbotron">
    <div>
        <p>
            Desarrolla una aplicación web de conversión de divisa utilizando cualquier API gratuito de conversión (por ejemplo:  <a href="http://currencyconverter.kowabunga.net/converter.asmx">currencyconverter</a> , <a href="https://1forge.com/forex-data-api">Forex</a>, <a href="https://free.currencyconverterapi.com/">currencyconverterapi</a> ).
        </p>
        <p>
            La página web principal de la aplicación solicitará al usuario que introduzca un importe, la divisa de origen y la divisa de destino y deberá devolver el resultado de la conversión utilizando el cambio correspondiente a la fecha y hora del momento en el que se realiza la petición.
        </p>
        <p>
            De forma opcional se podrán implementar las siguientes funcionalidades adicionales: Registro y autenticación de los usuarios. Los usuarios deberán autenticarse para poder acceder a la pantalla principal de la aplicación para la consulta del tiempo. Para ello los usuarios podrán registrarse previamente rellenando un formulario sencillo.
            Los datos para el registro del usuario deberán incluir como mínimo correo electrónico (con validación de formato RFC), contraseña, fecha de nacimiento (con validación de fecha válida) y país (con listado seleccionable de países). Desde la pantalla principal se dará la funcionalidad de hacer logout.
            Almacenamiento y consulta de las últimas consultas (historial). En la pantalla principal también se mostrarán las 10 últimas consultas realizadas por el usuario y sus resultados.
        </p>
        <p>
            Como mínimo:Crea una aplicación web .net. Almacena tu código en tu cuenta de Github e incluye documentación sobre cómo compilar o ejecutar tu proyecto si es necesaria.
            Como base de datos puedes utilizar almacenamiento cloud gratuito <a href="https://www.mongodb.com">(Mongodb)</a> o SQLite.
            El código debe funcionar y como mínimo debe implementarse la página principal con la funcionalidad de conversión de divisa. Es suficiente con que las páginas tengan un interfaz web básico, no elaborado.
        </p>
        <p>
            Puntos extra:
        </p>
        <ul>
            <li>
                <p>
                    Desarrollar las funcionalidades extra de registro de usuarios e historial.
                </p>
            </li>
            <li>
                <p>
                    Utilizar Bootstrap.
                </p>
            </li>
            <li>
                <p>
                    Usar un framework Javascript moderno para la presentación de datos.
                </p>
            </li>
            <li>
                <p>
                    Implementar pruebas unitarias.
                </p>
            </li>
        </ul>
    </div>
</div>
